@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg-: #ffffff;
  --nav-color-: #1d1d24;
  --color-hover-: #f9004d;
  --text-color-: #1f1f25;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--main-bg-);
}

/* styles */

.heroPage {
  background-image: url(./assets/hero_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}


.heroPage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #cdcdcd86;
}








/* media */

@media screen and (max-width: 1599px) {
  .heroPage {
    height: 65vh;
  }

  .selfContent {
    margin-top: 10rem;
  }

  .selfContent h2 {
    width: 80%;
    font-size: 3rem;
    gap: 10px;
  }

  .thumbnail img {
    height: 600px;
  }


}






@media screen and (max-width: 1200px) {

  .heroPage {
    padding: 0 2rem;
  }

  .hamb {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }

  .line {
    height: 2px;
    background-color: #1d1d24;
    width: 35px;
  }

  .navL {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--main-bg-);
    height: 100%;
    width: 40%;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }

  .navL.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }

  .c-hamb {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .f-list {
    margin-top: 20px;
  }

  .selfContent h2 {
    width: 80%;
    font-size: 2.5rem;
    gap: 10px;
  }

  .selfContent .skillSet {
    font-size: .8rem;
  }

  .aboutContent {
    flex-direction: column;
  }

  .aboutMe {
    padding: 50px 2rem;
  }


  .thumbnail {
    width: 60%;
  }

  .thumbnail img {
    height: 600px;
  }

  .aboutText {
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .aboutText h2 {
    font-size: 2.5rem;
  }

  .aboutText p {
    font-size: .9rem;
    line-height: 30px;
  }

  .switchBtn {
    font-size: 1rem;
  }

  .mainSkill, .education, .exp {
    height: fit-content;
  }

}







@media screen and (max-width: 768px) {

  .heroPage {
    height: 40vh;
  }

  nav {
    padding-top: 20px;
  }

  .heroPage {
    padding: 0 2rem;
  }


  .logo {
    height: 50px;
    width: 50px;
  }

  .logo img {
    height: 22px;
  }

  .socialCv {
    gap: 10px;
  }

  .socials ul {
    gap: 12px;
  }

  .cv {
    display: none;
  }

  .res-cv {
    display: block;
    margin-top: 25px;
  }

  .res-cv a {
    padding: 10px 50px;
    font-size: .7rem;
    outline: 1px solid #1d1d24;
  }

  .res-cv:hover a {
    outline: #f9004d;
  }

  .navL {
    width: 60%;
    font-size: .7rem;
  }

  .hamb {
    gap: 6px;
  }

  .line {
    width: 25px;
  }

  .socials {
    margin-right: 20px;
  }

  .selfContent {
    margin-top: 6rem;
  }

  .selfContent h2 {
    width: 100%;
    font-size: 1.5rem;
    gap: 10px;
  }

  .selfContent .skillSet {
    font-size: .7rem;
  }

  .thumbnail {
    width: 100%;
  }

  .thumbnail img {
    height: 400px;
  }

  .aboutText {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .aboutText h2 {
    font-size: 1.5rem;
  }

  .aboutText p {
    font-size: .7rem;
    line-height: 20px;
  }

  .switchBtn {
    font-size: .9rem;
  }

  .switchContainer {
    gap: 10px;
  }

  .mainSkill h3 {
    font-size: .9rem;
  }

  .aboutMe {
    padding: 20px 2rem;
  }
  

}